* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.d-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  background: transparent;
  border: none;
  padding: 10px;
}

.btn.btn-primary {
  background-color: blue;
  color: white;
}

.btn.btn-danger {
  background-color: red;
  color: white;
}
